# Make JSON files with metadata from existing files

In [2]:
import koalas as kl

## Common words (Gutenberg)

In [2]:
wordlist = kl.read_csv('original_wordlists/words10000.wiktionary200604.csv').rename(columns={'count (per billion)': 'frequency'})
wordlist

        rank              word     frequency
0          1               the  5.627187e+07
1          2                of  3.395006e+07
2          3               and  2.994418e+07
3          4                to  2.595610e+07
4          5                in  1.742064e+07
5          6                 i  1.176480e+07
6          7              that  1.107332e+07
7          8               was  1.007824e+07
8          9               his  8.799755e+06
9         10                he  8.397205e+06
10        11                it  8.058110e+06
11        12              with  7.725512e+06
12        13                is  7.557477e+06
13        14               for  7.097981e+06
14        15                as  7.037543e+06
15        16               had  6.139336e+06
16        17               you  6.048903e+06
17        18               not  5.741803e+06
18        19                be  5.662527e+06
19        20               her  5.202501e+06
20        21                on  5.113263e+06
21        22                at  5.091841e+06
22        23                by  5.061050e+06
23        24             which  4.580906e+06
24        25              have  4.346500e+06
25        26                or  4.228287e+06
26        27              from  4.108111e+06
27        28              this  4.015425e+06
28        29               him  3.971997e+06
29        30               but  3.894211e+06
...      ...               ...           ...
36633  36634            two-up  7.911340e+00
36634  36635            ubiety  7.911340e+00
36635  36636            unific  7.911340e+00
36636  36637  unpredictability  7.911340e+00
36637  36638           upburst  7.911340e+00
36638  36639           urinous  7.911340e+00
36639  36640         usability  7.911340e+00
36640  36641                uw  7.911340e+00
36641  36642           uxorial  7.911340e+00
36642  36643             valva  7.911340e+00
36643  36644          vanadate  7.911340e+00
36644  36645          vaporise  7.911340e+00
36645  36646           vitrine  7.911340e+00
36646  36647         vulcanize  7.911340e+00
36647  36648           walk-on  7.911340e+00
36648  36649           walkman  7.911340e+00
36649  36650           waymark  7.911340e+00
36650  36651            wedgie  7.911340e+00
36651  36652     wellingtonian  7.911340e+00
36652  36653            wintel  7.911340e+00
36653  36654            witing  7.911340e+00
36654  36655        workaholic  7.911340e+00
36655  36656             xhosa  7.911340e+00
36656  36657            yangon  7.911340e+00
36657  36658       yellowknife  7.911340e+00
36658  36659              yhbt  7.911340e+00
36659  36660              ymca  7.911340e+00
36660  36661            zipper  7.911340e+00
36661  36662             zloty  7.911340e+00
36662  36663          zoetrope  7.911340e+00

[36663 rows x 3 columns]

In [3]:
wordlist[wordlist['word'].isna()]

        rank word  frequency
14660  14661  NaN    1465.97

In [5]:
wordlist.loc[14660, 'word'] = 'null'

In [6]:
name = 'common words Gutenberg'
provenance = {'title': 'The 36663 most common words in Project Gutenberg',
              'category': 'high frequency words',
              'source': 'Wiktionary',
              'link': 'https://en.wiktionary.org/wiki/Wiktionary:Frequency_lists#Project_Gutenberg',
              'description': '''Most common words in Project Gutenberg: These lists are the most frequent words, when performing a simple, straight (obvious) frequency count of all the books found on Project Gutenberg. The list of books was downloaded in July 2005, and "rsynced" monthly thereafter. These are mostly English words, with some other languages finding representation to a lesser extent. Many Project Gutenberg books are scanned once their copyright expires, typically book editions published before 1923, so the language does not necessarily always represent current usage. For example, "thy" is listed as the 280th most common word. Also, with 24,000+ books, the text of the boilerplate warning for Project Gutenberg appears on each of them.''',
              'licence': 'Creative Commons Attribution-ShareAlike License',
              'version': 'as of 2006-04-16'}
termColumn = 'word'

In [7]:
kl.lists.save(wordlist, name, provenance, termColumn)

## Common words (Google)

In [5]:
wordlist = kl.read_csv('sources/GoogleTop20000.txt', names=['word'])
wordlist

                  word
0                  the
1                   of
2                  and
3                   to
4                    a
5                   in
6                  for
7                   is
8                   on
9                 that
10                  by
11                this
12                with
13                   i
14                 you
15                  it
16                 not
17                  or
18                  be
19                 are
20                from
21                  at
22                  as
23                your
24                 all
25                have
26                 new
27                more
28                  an
29                 was
...                ...
19970        contested
19971             coma
19972            husky
19973         conserve
19974            bland
19975       electrodes
19976             svcd
19977             cron
19978            darth
19979        abatement
19980           cramer
19981              yup
19982       originator
19983            ching
19984         whipping
19985         skipping
19986         melanoma
19987             thug
19988           routed
19989          rudolph
19990          abigail
19991     missionaries
19992         yugoslav
19993      householder
19994              occ
19995             cpan
19996         plotting
19997              yan
19998       succeeding
19999  bizjournalshire

[20000 rows x 1 columns]

In [6]:
name = 'common words Google'
provenance = {'title': '20000 most common words according to Google',
              'category': 'high frequency words',
              'source': 'Google',
              'link': 'https://github.com/first20hours/google-10000-english/blob/master/20k.txt',
              'description': '''This repo contains a list of the 10,000 most common English words in order of frequency, as determined by n-gram frequency analysis of the Google's Trillion Word Corpus. This repo is useful as a corpus for typing training programs. According to analysis of the Oxford English Corpus, the 7,000 most common English lemmas account for approximately 90% of usage, so a 10,000 word training corpus is more than sufficient for practical training applications.''',
              'licence': 'Web 1T 5-gram Version 1 Agreement',
              'version': '2016/07/18 (commit: cb727a8ef0932d7d9519e8fe3973ad0a9600170d)'}
termColumn = 'word'

In [7]:
kl.lists.save(wordlist, name, provenance, termColumn)

## Common words (BYU)

In [36]:
wordlist = kl.read_excel('original_wordlists/WordFrequencyMostFrequ5000.xlsx')
wordlist.remove_whitespace(on='word').to_csv('clean.csv')

In [37]:
name = 'common words BYU'
provenance = {'title': '5000 Most Frequent words in a balanced corpus of American English',
              'category': 'high frequency words',
              'source': 'Brigham Young University',
              'link': 'https://www.wordfrequency.info/free.asp',
              'description': '''The 5,000-60,000 word lists are based on the only large, genre-balanced, up-to-date corpus of American English -- the 560 million word Corpus of Contemporary American English (COCA).''',
              'licence': 'free to use',
              'version': 'unknown, fetched 2018/04/19'}
termColumn = 'word'

In [38]:
kl.lists.save(wordlist, name, provenance, termColumn)

## Stop words (Humboldt)

In [29]:
wordlist = kl.read_csv('original_wordlists/StopwordsList.txt', names=['word'])
wordlist

           word
0             a
1         about
2         above
3        across
4         after
5    afterwards
6         again
7       against
8           all
9        almost
10        alone
11        along
12      already
13         also
14     although
15       always
16           am
17        among
18      amongst
19     amoungst
20       amount
21           an
22          and
23      another
24          any
25       anyhow
26       anyone
27     anything
28       anyway
29     anywhere
..          ...
289      whence
290    whenever
291       where
292  whereafter
293     whereas
294     whereby
295     wherein
296   whereupon
297    wherever
298     whether
299       which
300       while
301     whither
302         who
303     whoever
304       whole
305        whom
306       whose
307         why
308        will
309        with
310      within
311     without
312       would
313         yet
314         you
315        your
316       yours
317    yourself
318  yourselves

[319 rows x 1 columns]

In [30]:
name = 'stopwords Humbolt'
provenance = {'title': 'A list of 319 stopwords (Humbolt Stopwords)',
              'category': 'stopwords',
              'source': 'HumboltStopwords',
              'link': 'http://xpo6.com/list-of-english-stop-words/',
              'description': 'Stop Words are words which do not contain important significance to be used in Search Queries. Usually these words are filtered out from search queries because they return vast amount of unnecessary information.',
              'licence': 'unknown',
              'version': 'as of 2006-04-16'}
termColumn = 'word'

In [31]:
kl.lists.save(wordlist, name, provenance, termColumn)

## Stop words (Stanford)

In [23]:
wordlist = kl.read_csv('original_wordlists/StandfordNLPcoreNLPstopwords.txt', names=['word'])
wordlist

         word
0          !!
1          ?!
2          ??
3          !?
4           `
5          ``
6          ''
7       -lrb-
8       -rrb-
9       -lsb-
10      -rsb-
11          ,
12          .
13          :
14          ;
15          "
16          '
17          ?
18          <
19          >
20          {
21          }
22          [
23          ]
24          +
25          -
26          (
27          )
28          &
29          %
..        ...
227       hes
228     heres
229      hows
230        im
231      isnt
232       its
233      lets
234    mustnt
235     shant
236      shes
237  shouldnt
238     thats
239    theres
240    theyll
241    theyre
242    theyve
243     wasnt
244      were
245    werent
246     whats
247     whens
248    wheres
249      whos
250      whys
251      wont
252   wouldnt
253      youd
254     youll
255     youre
256     youve

[257 rows x 1 columns]

In [24]:
name = 'stopwords Stanford'
provenance = {'title': '257 Stopwords used in the Standford Core NLP functionalities',
              'category': 'stopwords',
              'source': 'Stanford NLP',
              'link': 'https://github.com/stanfordnlp/CoreNLP/blob/master/data/edu/stanford/nlp/patterns/surface/stopwords.txt',
              'description': 'Single words including punctuation and contracted words with apostrophe.',
              'licence': 'GNU GPL v3',
              'version': '2016/01/23 (commit: ceefe81491183e557cd047755a5a88a90bfeb2af)'}
termColumn = 'word'

In [25]:
kl.lists.save(wordlist, name, provenance, termColumn)

## Stop words (NLTK)

In [20]:
wordlist = kl.read_csv('original_wordlists/NLTKstopwords.txt', names=['word'])
wordlist

           word
0             i
1            me
2            my
3        myself
4            we
5           our
6          ours
7     ourselves
8           you
9        you're
10       you've
11       you'll
12        you'd
13         your
14        yours
15     yourself
16   yourselves
17           he
18          him
19          his
20      himself
21          she
22        she's
23          her
24         hers
25      herself
26           it
27         it's
28          its
29       itself
..          ...
149      didn't
150       doesn
151     doesn't
152        hadn
153      hadn't
154        hasn
155      hasn't
156       haven
157     haven't
158         isn
159       isn't
160          ma
161      mightn
162    mightn't
163       mustn
164     mustn't
165       needn
166     needn't
167        shan
168      shan't
169     shouldn
170   shouldn't
171        wasn
172      wasn't
173       weren
174     weren't
175         won
176       won't
177      wouldn
178    wouldn't

[179 rows x 1 columns]

In [21]:
name = 'stopwords Stanford'
provenance = {'title': '179 Stopwords used in NLTK',
              'category': 'stopwords',
              'source': 'NLTK',
              'link': 'http://www.nltk.org/nltk_data/',
              'description': 'Single words including contracted words with apostrophe.',
              'licence': 'unknown',
              'version': 'unknown'}
termColumn = 'word'

In [22]:
kl.lists.save(wordlist, name, provenance, termColumn)

## Stop words (MySQL)

In [23]:
wordlist = kl.read_csv('sources/MySQLstopWords.txt', names=['word'])
wordlist

            word
0            a's
1           able
2          about
3          above
4      according
5    accordingly
6         across
7       actually
8          after
9     afterwards
10         again
11       against
12         ain't
13           all
14         allow
15        allows
16        almost
17         alone
18         along
19       already
20          also
21      although
22        always
23            am
24         among
25       amongst
26            an
27           and
28       another
29           any
..           ...
513      whither
514          who
515        who's
516      whoever
517        whole
518         whom
519        whose
520          why
521         will
522      willing
523         wish
524         with
525       within
526      without
527        won't
528       wonder
529        would
530     wouldn't
531          yes
532          yet
533          you
534        you'd
535       you'll
536       you're
537       you've
538         your
539        yours
540     yourself
541   yourselves
542         zero

[543 rows x 1 columns]

In [24]:
name = 'stopwords MySQL'
provenance = {'title': '543 Stopwords used in MySQL',
              'category': 'stopwords',
              'source': 'Ranks.nl',
              'link': 'https://www.ranks.nl/stopwords',
              'description': 'Single words including contracted words with apostrophe.',
              'licence': 'unknown',
              'version': 'unknown'}
termColumn = 'word'

In [25]:
kl.lists.save(wordlist, name, provenance, termColumn)

## British and American English

In [36]:
wordlist = kl.read_csv('original_wordlists/British_American_English.csv')
wordlist

             british         american
0        accessorise      accessorize
1       accessorised     accessorized
2       accessorises     accessorizes
3      accessorising    accessorizing
4    acclimatisation  acclimatization
5        acclimatise      acclimatize
6       acclimatised     acclimatized
7       acclimatises     acclimatizes
8      acclimatising    acclimatizing
9      accoutrements    accouterments
10        aerogramme         aerogram
11       aerogrammes        aerograms
12    aggrandisement   aggrandizement
13            ageing            aging
14           agonise          agonize
15          agonised         agonized
16          agonises         agonizes
17         agonising        agonizing
18       agonisingly      agonizingly
19         aeroplane         airplane
20       aeroplanes        airplanes
21          almanack          almanac
22         almanacks         almanacs
23         aluminium         aluminum
24       amortisable      amortizable
25      amortisation     amortization
26     amortisations    amortizations
27          amortise         amortize
28         amortised        amortized
29         amortises        amortizes
..               ...              ...
776      sterilisers      sterilizers
777       sterilises       sterilizes
778      sterilising      sterilizing
779   stigmatisation   stigmatization
780       stigmatise       stigmatize
781      stigmatised      stigmatized
782      stigmatises      stigmatizes
783     stigmatising     stigmatizing
784          storeys          stories
785           storey            story
786    subsidisation    subsidization
787        subsidise        subsidize
788       subsidised       subsidized
789       subsidiser       subsidizer
790      subsidisers      subsidizers
791       subsidises       subsidizes
792      subsidising      subsidizing
793          succour           succor
794        succoured         succored
795       succouring        succoring
796         succours          succors
797         sulphate          sulfate
798        sulphates         sulfates
799         sulphide          sulfide
800        sulphides         sulfides
801          sulphur           sulfur
802       sulphurous        sulfurous
803       ionisation       ionization
804            fibre            fiber
805           vapour            vapor

[806 rows x 2 columns]

In [37]:
name = 'British English'
provenance = {'title': 'British English and American English variants',
              'category': 'high frequency words',
              'source': 'unknown',
              'link': 'unknown',
              'description': 'A list of words whose spelling differs between British and American English.',
              'licence': 'unknown',
              'version': 'unknown'}
termColumn = 'british'
substitutionColumn = 'american'

In [38]:
kl.lists.save(wordlist, name, provenance, termColumn,substitutionColumn)

## Cities

In [32]:
wordlist = kl.read_csv('sources/WikipediaTopCities.txt', sep='\t')
wordlist

                City                 Nation
0          Chongqing                  China
1           Shanghai                  China
2              Delhi                  India
3            Beijing                  China
4             Mumbai                  India
5              Lagos                Nigeria
6            Chengdu                  China
7            Karachi               Pakistan
8          Guangzhou                  China
9           Istanbul                 Turkey
10             Tokyo                  Japan
11           Tianjin                  China
12            Moscow                 Russia
13             Dhaka             Bangladesh
14         São Paulo                 Brazil
15            Lahore               Pakistan
16             Cairo                  Egypt
17             Seoul           Korea, South
18          Kinshasa               DR Congo
19           Jakarta              Indonesia
20           Wenzhou                  China
21       Mexico City                 Mexico
22              Lima                   Peru
23            London         United Kingdom
24             Xi'an                  China
25         Bengaluru                  India
26           Chennai                  India
27     New York City          United States
28         Hyderabad                  India
29          Shenzhen                  China
..               ...                    ...
212           Prague         Czech Republic
213         Mandalay                Myanmar
214           Dallas          United States
215       Montevideo                Uruguay
216            Sofia               Bulgaria
217  Nizhny Novgorod                 Russia
218            Abuja                Nigeria
219          Calgary                 Canada
220          Saitama                  Japan
221            Suwon            South Korea
222        Hiroshima                  Japan
223          Rosario              Argentina
224         Brisbane              Australia
225         Belgrade                 Serbia
226         Campinas                 Brazil
227            Ulsan           Korea, South
228             Omsk                 Russia
229            Dakar                Senegal
230        Abu Dhabi   United Arab Emirates
231        Monterrey                 Mexico
232          Tripoli                  Libya
233    Rostov-on-Don                 Russia
234         T'bilisi                Georgia
235              Fez                Morocco
236       Birmingham         United Kingdom
237          Yerevan                Armenia
238          Cologne                Germany
239            Tunis                Tunisia
240           Astana             Kazakhstan
241        Islamabad               Pakistan

[242 rows x 2 columns]

In [33]:
name = 'cities'
provenance = {'title': 'List of the 223 largest cities',
              'category': 'geo-political entities',
              'source': 'Wikipedia',
              'link': 'https://en.wikipedia.org/wiki/List_of_largest_cities',
              'description': 'A list of large cities and the countries they lie in.',
              'licence': 'Creative Commons Attribution-ShareAlike License',
              'version': '04:40, 18 April 2018'}
termColumn = 'City'

In [34]:
kl.lists.save(wordlist, name, provenance, termColumn)

## Demonyms

In [8]:
wordlist = (kl.read_csv('original_wordlists/demonyms.csv')
              .rename(columns={'Adjectivals': 'adjective', 'Demonyms': 'demonym', 'Country name': 'country'})
              .remove_qualifiers(on='country')
              .str.replace(r',.*|/.*', '')
              .remove_qualifiers(on='adjective')
              .str.replace(r',.*|/.*', '')
              .str.replace(r' or ', ' and ')
              .remove_qualifiers(on='demonym')
              .str.replace(r',.*|/.*', '')
              .str.replace(r' or ', ' and ')
              .str.replace(r's$', '')
           )
wordlist

,country,adjective,demonym
0,Abkhazia,Abkhaz,Abkhazian
1,Afghanistan,Afghan,Afghan
2,Åland Islands,Åland Island,Åland Islander
3,Albania,Albanian,Albanian
4,Algeria,Algerian,Algerian
5,American Samoa,American Samoan,American Samoan
6,Andorra,Andorran,Andorran
7,Angola,Angolan,Angolan
8,Anguilla,Anguillan,Anguillan
9,Antarctica,Antarctic,Antarctic resident
10,Antigua and Barbuda,Antiguan and Barbudan,Antiguans and Barbudan
11,Argentina,Argentinian,Argentine
12,Armenia,Armenian,Armenian
13,Aruba,Aruban,Aruban
14,Australia,Australian,Australian
15,Austria,Austrian,Austrian
16,Azerbaijan,Azerbaijani,Azerbaijani
17,Bahamas,Bahamian,Bahamian
18,Bahrain,Bahraini,Bahraini
19,Bangladesh,Bengali,Bangladeshi
20,Barbados,Barbadian,Barbadian
21,Belarus,Belarusian,Belarusian
22,Belgium,Belgian,Belgian
23,Belize,Belizean,Belizean
24,Benin,Beninese,Beninese
25,Bermuda,Bermudian,Bermudian
26,Bhutan,Bhutanese,Bhutanese
27,Bolivia,Bolivian,Bolivian
28,Bonaire,Bonaire,Bonaire Dutch
29,Bosnia and Herzegovina,Bosnian and Herzegovinian,Bosnians and Herzegovinian
...,...,...,...
231,Thailand,Thai,Thai
232,Timor-Leste[19],Timorese,Timorese
233,Togo,Togolese,Togolese
234,Tokelau,Tokelauan,Tokelauan
235,Tonga,Tongan,Tongan
236,Trinidad and Tobago,Trinidadian and Tobagonian,Trinidadians and Tobagonian
237,Tunisia,Tunisian,Tunisian
238,Turkey,Turkish,Turk
239,Turkmenistan,Turkmen,Turkmen
240,Turks and Caicos Islands,Turks and Caicos Island,Turks and Caicos Islander
241,Tuvalu,Tuvaluan,Tuvaluan
242,Uganda,Ugandan,Ugandan
243,Ukraine,Ukrainian,Ukrainian
244,United Arab Emirates,Emirati,Emirati
245,United Kingdom of Great Britain and Northern I...,British,Briton
246,NaN,NaN,NaN
247,United States of America,United States,American
248,Uruguay,Uruguayan,Uruguayan
249,Uzbekistan,Uzbekistani,Uzbekistani
250,Vanuatu,Ni-Vanuatu,Ni-Vanuatu
251,Vatican City State,Vatican,Vatican citizen
252,Venezuela,Venezuelan,Venezuelan
253,Vietnam,Vietnamese,Vietnamese
254,Virgin Islands,British Virgin Island,British Virgin Islander
255,Virgin Islands,U.S. Virgin Island,U.S. Virgin Islander
256,Wallis and Futuna,Wallis and Futuna,Wallis and Futuna Islander
257,Western Sahara,Sahrawi,Sahrawi
258,Yemen,Yemeni,Yemeni
259,Zambia,Zambian,Zambian
260,Zimbabwe,Zimbabwean,Zimbabwean

In [11]:
name = 'demonyms'
provenance = {'title': 'List of countries and demonyms',
              'category': 'geo-political entities',
              'source': 'Wikipedia',
              'link': 'https://en.wikipedia.org/wiki/List_of_adjectival_and_demonymic_forms_for_countries_and_nations',
              'description': 'List of countries and territories with adjectives and names of their inhabitants',
              'licence': 'Creative Commons Attribution-ShareAlike License',
              'version': '06:57, 13 May 2018'}
termColumn = 'adjective'

In [12]:
kl.lists.save(wordlist, name, provenance, termColumn)

## Diseases

In [38]:
wordlist = kl.read_csv('sources/Diseases.txt', names=['term'])
wordlist

                                                  term
0                            Abdominal Aortic Aneurysm
1                                         Acanthamoeba
2                                        Acanthamoeba
3                               Acanthamoeba Infection
4                                                  ACE
5                              Acinetobacter Infection
6                  Acquired Immune Deficiency Syndrome
7                   Acquired Immunodeficiency Syndrome
8                                 Adenovirus Infection
9                               Adenovirus Vaccination
10                                                ADHD
11                                  Adult Vaccinations
12                       Adverse Childhood Experiences
13                                                  AF
14                                                AFib
15                             African Trypanosomiasis
16                                Agricultural Safety
17                                                 AHF
18                                                AIDS
19                          Alkhurma hemorrhagic fever
20                                                 ALS
21                                        ALS Registry
22                                 Alzheimer's Disease
23       American Indian and Alaska Native Vaccination
24                            American Trypanosomiasis
25                       Amyotrophic Lateral Sclerosis
26                                 Anaplasmosis, Human
27                     Ancylostoma duodenale Infection
28   Ancylostoma duodenale Infection, Necator ameri...
29                           Angiostrongylus Infection
..                                                 ...
909                                                VVC
910                                                VWD
911                                                VZV
912                                    Weight, Healthy
913                          West Nile Virus Infection
914                                 Whipworm Infection
915                                 Whitmore's Disease
916                                     Whooping Cough
917                         Whooping Cough Vaccination
918                          Wildlife, Infections from
919                                      Winter Storms
920                                      WNV Infection
921                         Women's Bleeding Disorders
922                                     Women's Health
923                                             XDR TB
924  Xenotropic Murine Leukemia Virus-related Virus...
925                                     XMRV Infection
926                                    Yeast Infection
927                                       Yellow Fever
928                           Yellow Fever Vaccination
929                  Yersinia enterocolitica Infection
930                          Yersinia pestis Infection
931                                        Yersiniosis
932                               Zika Virus Infection
933                 Zika Virus Infection and Pregnancy
934                     Zoonotic Diseases from Animals
935                          Zoonotic enteric diseases
936                                  Zoonotic Hookworm
937                                             Zoster
938                                        Zygomycosis

[939 rows x 1 columns]

In [39]:
name = 'diseases'
provenance = {'title': 'Diseases',
              'category': 'domain specific terms',
              'source': 'unknown',
              'link': 'unknown',
              'description': 'A list of 938 diseases including abbreviations and spelling variations.',
              'licence': 'unknown',
              'version': 'unknown'}
termColumn = 'term'

In [40]:
kl.lists.save(wordlist, name, provenance, termColumn)

## Chemical elements

In [2]:
wordlist = kl.WordFrame({'term': ['hydrogen','helium','lithium','beryllium','boron','carbon','nitrogen','oxygen','fluorine',
                'neon','sodium','magnesium','aluminium', 'aluminum','silicon','phosphorus','sulfur','chlorine','argon',
                'potassium','calcium','scandium','titanium','vanadium','chromium','manganese','iron','cobalt',
                'nickel','copper','zinc','gallium','germanium','arsenic','selenium','bromine','krypton',
                'rubidium','strontium','yttrium','zirconium','niobium','molybdenum','technetium','ruthenium',
                'rhodium','palladium','silver','cadmium','indium','tin','antimony','tellurium','iodine','xenon',
                'caesium', 'cesium','barium','lanthanum','cerium','praseodymium','neodymium','promethium','samarium',
                'europium','gadolinium','terbium','dysprosium','holmium','erbium','thulium','ytterbium',
                'lutetium','hafnium','tantalum','tungsten','rhenium','osmium','iridium','platinum','gold','mercury',
                'thallium','lead','bismuth','polonium','astatine','radon','francium','radium','actinium','thorium',
                'protactinium','uranium','neptunium','plutonium','americium','curium','berkelium','californium',
                'einsteinium','fermium','mendelevium','nobelium','lawrencium','rutherfordium','dubnium','seaborgium',
                'bohrium','hassium','meitnerium','darmstadtium','roentgenium','copernicium','nihonium','flerovium',
                'moscovium','livermorium','tennessine','oganesson']})
wordlist

              term
0         hydrogen
1           helium
2          lithium
3        beryllium
4            boron
5           carbon
6         nitrogen
7           oxygen
8         fluorine
9             neon
10          sodium
11       magnesium
12       aluminium
13        aluminum
14         silicon
15      phosphorus
16          sulfur
17        chlorine
18           argon
19       potassium
20         calcium
21        scandium
22        titanium
23        vanadium
24        chromium
25       manganese
26            iron
27          cobalt
28          nickel
29          copper
..             ...
90        actinium
91         thorium
92    protactinium
93         uranium
94       neptunium
95       plutonium
96       americium
97          curium
98       berkelium
99     californium
100    einsteinium
101        fermium
102    mendelevium
103       nobelium
104     lawrencium
105  rutherfordium
106        dubnium
107     seaborgium
108        bohrium
109        hassium
110     meitnerium
111   darmstadtium
112    roentgenium
113    copernicium
114       nihonium
115      flerovium
116      moscovium
117    livermorium
118     tennessine
119      oganesson

[120 rows x 1 columns]

In [3]:
name = 'chemical elements'
provenance = {'title': 'Chemical elements',
              'category': 'domain specific terms',
              'source': 'unknown',
              'link': 'unknown',
              'description': 'A list of the first 119 chemical elements.',
              'licence': 'unknown',
              'version': 'unknown'}
termColumn = 'term'

In [4]:
kl.lists.save(wordlist, name, provenance, termColumn)

## Accented characters

In [44]:
wordlist = kl.read_csv('sources/chars.csv')
wordlist

   character replacement
0          À           A
1          à           a
2          Á           A
3          á           a
4          Â           A
5          â           a
6          Ã           A
7          ã           a
8          Ä           A
9          ä           a
10         Å           A
11         å           a
12         Æ          AE
13         æ          ae
14         Ç           C
15         ç           c
16         È           E
17         è           e
18         É           E
19         é           e
20         Ê           E
21         ê           e
22         Ë           E
23         ë           e
24         ƒ          fl
25         Ì           I
26         ì           i
27         Í           I
28         í           i
29         Î           I
..       ...         ...
38         ò           o
39         Ó           O
40         ó           o
41         Ô           O
42         ô           o
43         Õ           O
44         õ           o
45         Ö           O
46         ö           o
47         Ø           O
48         ø           o
49         Œ          OE
50         œ          oe
51         ß          ss
52         Š           S
53         š           s
54         Þ          Th
55         þ          th
56         Ù           U
57         ù           u
58         Ú           U
59         ú           u
60         Û           U
61         û           u
62         Ü           U
63         ü           u
64         Ý           Y
65         ý           y
66         Ÿ           Y
67         ÿ           y

[68 rows x 2 columns]

In [45]:
name = 'accented characters'
provenance = {'title': 'Accented characters',
              'category': 'characters',
              'source': 'AnAGram',
              'link': 'unknown',
              'description': 'A list of accented characters and ASCII characters that should be used to replace them.',
              'licence': 'unknown',
              'version': 'unknown'}
termColumn = 'character'
substitutionColumn = 'replacement'

In [46]:
kl.lists.save(wordlist, name, provenance, termColumn, substitutionColumn)

## Greek characters

In [46]:
import string
mins_english = ['alpha', 'beta', 'gamma', 'delta', 'epsilon', 'zeta', 'eta', 'theta', 'iota', 'kappa', 'lambda', 'mu', 'nu', 'xi', 'omicron', 'pi', 'rho', 'sigma', 'sigma', 'tau', 'ypsilon', 'phi', 'chi', 'psi', 'omega']
caps_english = [string.capwords(i) for i in english]; del caps_english[17]
caps = [chr(i) for i in range(913, 938)]; del caps[17]
mins = [chr(i) for i in range(945, 970)]

wordlist = kl.WordFrame({'character': caps+mins, 'replacement': caps_english+mins_english})
wordlist

   character replacement
0          Α       Alpha
1          Β        Beta
2          Γ       Gamma
3          Δ       Delta
4          Ε     Epsilon
5          Ζ        Zeta
6          Η         Eta
7          Θ       Theta
8          Ι        Iota
9          Κ       Kappa
10         Λ      Lambda
11         Μ          Mu
12         Ν          Nu
13         Ξ          Xi
14         Ο     Omicron
15         Π          Pi
16         Ρ         Rho
17         Σ       Sigma
18         Τ         Tau
19         Υ     Ypsilon
20         Φ         Phi
21         Χ         Chi
22         Ψ         Psi
23         Ω       Omega
24         α       alpha
25         β        beta
26         γ       gamma
27         δ       delta
28         ε     epsilon
29         ζ        zeta
30         η         eta
31         θ       theta
32         ι        iota
33         κ       kappa
34         λ      lambda
35         μ          mu
36         ν          nu
37         ξ          xi
38         ο     omicron
39         π          pi
40         ρ         rho
41         ς       sigma
42         σ       sigma
43         τ         tau
44         υ     ypsilon
45         φ         phi
46         χ         chi
47         ψ         psi
48         ω       omega

In [47]:
name = 'greek characters'
provenance = {'title': 'Greek characters',
              'category': 'characters',
              'source': 'Wikipedia',
              'link': 'https://en.wikipedia.org/wiki/Greek_alphabet',
              'description': 'A list of greek characters and their names in Latin script.',
              'licence': 'free',
              'version': '800 B.C.'}
termColumn = 'character'
substitutionColumn = 'replacement'

In [48]:
kl.lists.save(wordlist, name, provenance, termColumn, substitutionColumn)

## Academic words

In [7]:
wordlist = kl.read_csv('original_wordlists/AWL_sublists.csv')
wordlist

      sublist            word
0           1         analyse
1           1        analysed
2           1        analyser
3           1       analysers
4           1        analyses
5           1       analysing
6           1        analysis
7           1         analyst
8           1        analysts
9           1        analytic
10          1      analytical
11          1    analytically
12          1         analyze
13          1        analyzed
14          1        analyzes
15          1       analyzing
16          1        approach
17          1    approachable
18          1      approached
19          1      approaches
20          1     approaching
21          1  unapproachable
22          1            area
23          1           areas
24          1          assess
25          1      assessable
26          1        assessed
27          1        assesses
28          1       assessing
29          1      assessment
...       ...             ...
2986        9   supplementing
2987        9     supplements
2988        9         suspend
2989        9       suspended
2990        9      suspending
2991        9        suspends
2992        9      suspension
2993        9            team
2994        9          teamed
2995        9         teaming
2996        9           teams
2997        9       temporary
2998        9     temporarily
2999        9         trigger
3000        9       triggered
3001        9      triggering
3002        9        triggers
3003        9           unify
3004        9     unification
3005        9         unified
3006        9         unifies
3007        9        unifying
3008        9         violate
3009        9        violated
3010        9        violates
3011        9       violating
3012        9       violation
3013        9      violations
3014        9          vision
3015        9         visions

[3016 rows x 2 columns]

In [8]:
name = 'academic words'
provenance = {'title': 'Academic words',
              'category': 'domain specific terms',
              'source': 'Dr Averil Coxhead, Victoria University of Wellington',
              'link': 'https://www.victoria.ac.nz/lals/resources/academicwordlist',
              'description': 'The list contains 570 word families which were selected according to principles. The list does not include words that are in the most frequent 2000 words of English. The AWL was primarily made so that it could be used by teachers as part of a programme preparing learners for tertiary level study or used by students working alone to learn the words most needed to study at tertiary institutions. The word list has been divided into sublists based on the frequency of occurrence of the words in the Academic Corpus. The words in Sublist 1 occur more frequently in the corpus than the other words in the list. Sublist 2 occurs with the next highest frequency.',
              'licence': 'unknown',
              'version': '2000'}
termColumn = 'word'

In [9]:
kl.lists.save(wordlist, name, provenance, termColumn)